<!DOCTYPE html>
<html>
  <head>
    <title>{{ site.title }}</title>
    {% include header.html %}
    {% seo %}
  </head>
  <body>

    {% include nav.html %}
    <div class="container">
      <h1 class="brand title center" id="type">{{ site.title | upcase }}</h1>
      <h5 class="center">{{ site.description | markdownify }}</h5>
      <img src="{{ site.baseurl }}/assets/img/grunge.png" alt="" class="line tag flip">
      <p class="right tagline">by Robyn Pritzker</p>
      <img src="{{ site.baseurl }}/assets/img/grunge.png" alt="" class="line tag">
      <div class="center">
      </div>
      
      
      <h4><a href="">Stories</a></h4>
      <h4><a href="">Manuscripts</a></h4>
      <h4><a href="">About</a></h4>
      
      
    </div>

    {% include foot.html %}

  </body>
</html>
