<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    {% include header.html %}
  </head>
  <body>

    {% include nav.html %}

    <main>
      <div class="container">
        <img src="{{ site.baseurl }}/assets/img/grunge.png" alt="" class="line">
        <p class="center" style="font-size: 30px">Encoding the Vandegrifter</p>
        <img src="{{ site.baseurl }}/assets/img/grunge.png" alt="" class="line flip">

        <h2 class="center" id="title">{{ page.title }}</h2>


        <div class="container" style="padding: 27px">
          {{ content }}
        </div>

        <p class="right italics">by Robyn Pritzker</p>
      </div>
    </main>

    
    {% include foot.html %}
    
    
    
  </body>
</html>
